{% extends "notes/base.html" %}
{% load static %}
{% block content %}
<div class="appbar">
    <a href="/"><img src="{% static 'notes/img/logo-getit.png' %}" class="logo"></a>
    <span class="subtitle">Como o Post-it, mas com outro verbo</span>
</div>
<div class="container">
    <h2 class="tag-title">Lista de todas as tags: </h2>
    <div class="tag-box">
        {% for tag in tags %}
        <div class="tags">
            <a href="tag/{{tag.id}}" class="tag-a" id="{{tag.id}}">
                {{tag.title}}
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}