{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<div class="appbar">
    <img src="{% static 'notes/img/logo-getit.png' %}" class="logo">
    <span class="subtitle">Como o Post-it, mas com outro verbo</span>
    <a class="tag-appbar" href="/tags">Tags!</a>
</div>

<div class="container">
    <form class="form-card" method="post">
        {% csrf_token %}
        <input class="form-card-title" id="titulo" type="text" name="titulo" placeholder="Título" />
        <textarea class="autoresize" id="detalhes" name="detalhes" placeholder="Digite o conteúdo..."></textarea>
        <input class="form-card-tag" id="tag" type="text" name="tag" placeholder="Tag" />
        <button class="btn" type="submit">Criar</button>
    </form>

    <div class="card-container">
        {% for note in notes %}
        <div class="card" id="{{note.id}}">
            <button id="{{note.id}}" class="invs del">
                <img src="https://img.icons8.com/material-outlined/24/000000/filled-trash.png" />
            </button>


            <form class='formIcon' action='/put' method="POST">
                {% csrf_token %}
                <input type='hidden' name="id" value="{{note.id}}">
                <textarea class="autoresize form-card-title tituloIN" name="titulo">{{note.title}}</textarea>
                <textarea class="autoresize detalhesIN" name="detalhes"
                    placeholder="Digite o conteúdo...">{{note.content}}</textarea>
                <button class="invs update" type="submit" id="{{note.id}}">
                    <img src="https://img.icons8.com/ios-glyphs/30/000000/approve-and-update--v1.png" />
                </button>
                <input class="submit-tag" type='hidden' name="tag" id="{{note.id}}">
                {% if note.tag == null %}
                <p class="tag-p" contentEditable="true" id="{{note.id}}">
                    {{"Insira uma tag!"}}
                </p>
                {% else %}
                {% for tag in note.tag.all %}
                <p class="tag-p" contentEditable="true" id="{{note.id}}">
                    {{ tag.title }}
                </p>
                {% endfor %}
                {% endif %}
            </form>
        </div>

        {% endfor %}
    </div>
</div>
<script type="text/javascript" src="{% static 'notes/scripts/getit.js' %}"> </script>
{% endblock %}