{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<div class="appbar">
    <a href="/"><img src="{% static 'notes/img/logo-getit.png' %}" class="logo"></a>
    <span class="subtitle">Como o Post-it, mas com outro verbo</span>
</div>
<div class="container">
    <h1 class="title">Oops!</h1>
    <h2 class="undertitle">Parece que houve algum erro com o servidor, por favor volte em breve.</h2>
    <div class="home-button">
        <img src="https://img.icons8.com/material-sharp/24/000000/home.png" />
        <a href="/" class="error-button">Voltar para o inicio</a>
    </div>
</div>
{% endblock %}